*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
ul {
    
    background-color: rgb(196, 151, 46);
    height: 120px;
}
h1{
    position: relative;
    color: crimson;
    align-items: center;
    text-align: center;
    height: 90px;
    margin: 0 30px;
    background-size: 10px;
}
header div nav a{
    text-decoration: none;
    color: azure;
    text-align: center;
    padding: 50px;
    float: left;
    align-items: center;
}
header div nav{
    background-color: blueviolet;
    background-color: rgb(13, 13, 14);
    overflow: hidden;
}
header div nav a:hover{
    
    color: aqua;
}
#clockContainer{
    position: relative;
    margin:  15px auto ;
    background-color: greenyellow;
    height: 60vw;
    width: 60vw;
    background: url(C.png) no-repeat;
    background-size: 100%;

}
#hour,#minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
}
#hour{
    width: 1%;
    height: 20%;
    top: 30%;
    left: 49.55%;
    opacity: 0.8;
    transform-origin: bottom;
    color: rgb(7, 82, 88);

}
#minute{
    width: 0.8%;
    height: 27%;
    top: 23%;
    left: 49.55%;
    opacity: 0.8;
    transform-origin: bottom;
    color: rgb(26, 70, 101);
    
}
#second{
    width: 0.7%;   
    height: 28%;
    top: 22%;
    left: 49.59%;
    opacity: 0.8;
    transform-origin: bottom;
    color: cadetblue;
    
}
footer  nav a{
    text-decoration: none;
    color: azure;
    text-align: center;
    padding: 50px;
    float: left;
   
}
footer  nav{
    background-color: rgb(176, 139, 210);
    background-color: rgba(93, 159, 221, 0.797);
    overflow: hidden;
}
footer nav a:hover{
    
    color: aqua;
}
